---
import { PortableText } from '@portabletext/react';
import type { Post } from '../../../sanity.types';
import Layout from '../../layouts/Layout.astro';
import { getPost, getPosts } from '../../utils/groqQueries';
import imageUrlBuilder from '@sanity/image-url';
import { sanityClient } from 'sanity:client';
import type { SanityImageSource } from '@sanity/image-url/lib/types/types';

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts
    .filter(
      (post): post is Post & { slug: { current: string } } =>
        post.slug !== undefined
    )
    .map((post) => ({
      params: { slug: post.slug.current },
    }));
}

const builder = imageUrlBuilder(sanityClient);
function urlFor(source: SanityImageSource) {
  return builder.image(source);
}

const { slug } = Astro.params;
const post: Post = await getPost(slug);

if (!post) {
  throw new Error(`Post with slug '${slug}' not found`);
}
---

<Layout title={post.title}>
  <article class="blog-post">
    <h1>{post.title}</h1>
    <p class="post-date-author">
      {new Date(post._createdAt).toLocaleDateString()}
    </p>
    {
      post.mainImage && (
        <img
          src={urlFor(post.mainImage).width(800).url()}
          alt={post.mainImage.altText}
          class="main-post-image"
          loading="lazy"
        />
      )
    }
    <div class="normal-copy">
      {post.body && <PortableText value={post.body} />}
    </div>
  </article>
</Layout>
