---
import { PortableText } from "@portabletext/react";
import type { Post } from "../../../sanity.types";
import Layout from "../../layouts/Layout.astro";
import { getPost, getPosts } from "../../utils/groqQueries";
import { urlFor } from "../../utils/utils";

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts
    .filter(
      (post): post is Post & { slug: { current: string } } =>
        post.slug !== undefined
    )
    .map((post) => ({
      params: { slug: post.slug.current },
    }));
}

const { slug } = Astro.params;
const post: Post = await getPost(slug);

if (!post) {
  throw new Error(`Post with slug '${slug}' not found`);
}
---

<Layout title={post.title}>
  <article>
    <h1>{post.title}</h1>
    <p>{new Date(post._createdAt).toLocaleDateString()}</p>
    {post.mainImage && <img src={urlFor(post.mainImage)} alt={post.title} />}
    {post.body && <PortableText value={post.body} />}
  </article>
</Layout>
