---
import { PortableText } from "@portabletext/react";
import Layout from "../layouts/Layout.astro";
import { getAboutUsPage } from "../utils/groqQueries";
import { urlFor } from "../utils/utils";

const aboutUsPage = await getAboutUsPage();
---

<Layout title={aboutUsPage?.title || "About Us"}>
  <section id="mission-section" class="two-cols">
    <div class="content">
      <h2>{aboutUsPage?.mission.heading}</h2>
      <div class="highlighted-copy">
        {
          aboutUsPage?.mission.highlightedContent && (
            <PortableText value={aboutUsPage.mission.highlightedContent} />
          )
        }
      </div>
      <div class="normal-copy">
        {
          aboutUsPage?.mission.content && (
            <PortableText value={aboutUsPage.mission.content} />
          )
        }
      </div>
    </div>
    {
      aboutUsPage?.mission.photo?.asset && (
        <img
          src={urlFor(aboutUsPage.mission.photo.asset).url()}
          alt={aboutUsPage.mission.photo.altText || "Mission Image"}
        />
      )
    }
  </section>

  <section id="vision-section" class="two-cols">
    {
      aboutUsPage?.vision.photo?.asset && (
        <img
          src={urlFor(aboutUsPage.vision.photo.asset).url()}
          alt={aboutUsPage.vision.photo.altText || "Vision Image"}
        />
      )
    }
    <div class="content">
      <h2>{aboutUsPage?.vision.heading}</h2>
      <div class="highlighted-copy">
        {
          aboutUsPage?.vision.highlightedContent && (
            <PortableText value={aboutUsPage.vision.highlightedContent} />
          )
        }
      </div>
      <div class="normal-copy">
        {
          aboutUsPage?.vision.content && (
            <PortableText value={aboutUsPage.vision.content} />
          )
        }
      </div>
    </div>
  </section>

  <section id="team-section" class="two-cols">
    <div class="content">
      <h2>{aboutUsPage?.team?.heading || "Meet Our Team"}</h2>
      <ul>
        {
          aboutUsPage?.team?.members?.map((member) => (
            <li>{member?.name && <PortableText value={member.name} />}</li>
          ))
        }
      </ul>
    </div>
    {
      aboutUsPage?.team?.photo?.asset && (
        <img
          src={urlFor(aboutUsPage.team.photo.asset).url()}
          alt={aboutUsPage.team.photo.altText || "Team Image"}
        />
      )
    }
  </section>

  <section id="howToHelp-section">
    <h2>{aboutUsPage?.howToHelp.heading}</h2>
    <div class="normal-copy">
      {
        aboutUsPage?.howToHelp.content && (
          <PortableText value={aboutUsPage.howToHelp.content} />
        )
      }
    </div>
  </section>

  <style>
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
    .two-cols {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .highlighted-copy {
      font-size: 3em;
      line-height: 1;
      font-weight: bold;
    }
  </style>
</Layout>
