---
import { PortableText } from "@portabletext/react";
import imageUrlBuilder from "@sanity/image-url";
import type { SanityImageSource } from "@sanity/image-url/lib/types/types";
import Layout from "../layouts/Layout.astro";
import { getHomePage } from "../utils/sanity";
import { urlFor } from "../utils/utils";

// Fetch data on the server side
const homePage = await getHomePage();
---

<Layout title={homePage?.title || "Default Title"}>
  <section class="hero">
    <h1 class="visually-hidden">{homePage?.title}</h1>
    {
      homePage?.homePageHeroImage?.asset && (
        <img
          src={urlFor(homePage.homePageHeroImage.asset)}
          alt={homePage.homePageHeroImage.altText || "Hero image"}
        />
      )
    }
  </section>

  <section id="who-we-are">
    <h2>Who We Are</h2>
    <div class="two-cols">
      {
        homePage?.whoWeAre.photo.asset && (
          <img
            src={urlFor(homePage.whoWeAre.photo.asset)}
            alt={homePage.whoWeAre.photo.altText || "Who we are image"}
          />
        )
      }
      {
        homePage?.whoWeAre.content && (
          <div class="normal-copy">
            <PortableText value={homePage.whoWeAre.content} />
          </div>
        )
      }
    </div>
  </section>

  <section id="what-we-do">
    <h2>{homePage?.whatWeDo.heading}</h2>
    <div class="image-gallery">
      {
        homePage?.whatWeDo.whatWeDoPics?.map(
          (pic: {
            image: any;
            altText: string | null | undefined;
            caption: unknown;
          }) => (
            <div>
              <img src={urlFor(pic.image)} alt={pic.altText} />
              <p>{pic.caption}</p>
            </div>
          )
        )
      }
    </div>
  </section>

  <section id="bike-plan">
    <h2>{homePage?.bikePlan.heading}</h2>
    <div class="two-cols">
      {
        homePage?.bikePlan.content && (
          <div class="normal-copy">
            <PortableText value={homePage.bikePlan.content} />
          </div>
        )
      }
    </div>
  </section>
</Layout>
