---
import { PortableText } from "@portabletext/react";
import Layout from "../layouts/Layout.astro";
import { getHomePage } from "../utils/groqQueries";
import { urlFor } from "../utils/utils";

const homePage = await getHomePage();
---

<Layout title={homePage?.title || "Default Title"}>
  <section class="hero">
    <h1 class="visually-hidden">{homePage?.title}</h1>
    {
      homePage?.homePageHeroImage?.asset && (
        <img
          src={urlFor(homePage.homePageHeroImage.asset).url()}
          alt={homePage.homePageHeroImage.altText || "Hero image"}
        />
      )
    }
  </section>

  <section id="who-we-are" class="two-cols">
    {
      homePage?.whoWeAre.photo.asset && (
        <img
          src={urlFor(homePage.whoWeAre.photo.asset).url()}
          alt={homePage.whoWeAre.photo.altText || "Who we are image"}
          class="who-we-are-img"
        />
      )
    }
    <div class="content">
      <h2>{homePage?.whoWeAre?.heading}</h2>
      <div class="highlighted-copy">
        {
          homePage?.whoWeAre.highlightedContent && (
            <PortableText value={homePage.whoWeAre.highlightedContent} />
          )
        }
      </div>
      <div class="normal-copy">
        {
          homePage?.whoWeAre.content && (
            <PortableText value={homePage.whoWeAre.content} />
          )
        }
      </div>
    </div>
  </section>

  <section id="what-we-do">
    <div class="image-gallery">
      {
        homePage?.whatWeDo?.whatWeDoPics?.map((pic) => (
          <div class="image-item">
            {pic.image && (
              <img src={urlFor(pic.image).url()} alt={pic.altText || "Image"} />
            )}
            <p>{pic.highlightedCaption}</p>
            <p>{pic.caption}</p>
          </div>
        ))
      }
    </div>
  </section>

  <section id="bike-plan" class="bike-plan-layout">
    {
      homePage?.bikePlan.photo?.asset && (
        <img
          src={urlFor(homePage.bikePlan.photo.asset).url()}
          alt={homePage.bikePlan.photo.altText || "Bike plan image"}
          class="bike-plan-img"
        />
      )
    }
    <div class="content">
      <h2>{homePage?.bikePlan?.heading}</h2>
      <div class="highlighted-copy">
        {
          homePage?.bikePlan.highlightedContent && (
            <PortableText value={homePage.bikePlan.highlightedContent} />
          )
        }
      </div>
      <div class="normal-copy">
        {
          homePage?.bikePlan.content && (
            <PortableText value={homePage.bikePlan.content} />
          )
        }
      </div>
    </div>
  </section>

  <style>
    /* General Styles */
    #sections {
      display: flex;
      flex-wrap: wrap;
      gap: 2em;
    }

    /* Hero Section */
    .hero img {
      width: 100%;
      height: auto;
    }

    /* Who We Are Section */
    #who-we-are {
      background: #cd011c;
    }

    .who-we-are-img {
      padding: 4em 4em 4em 8em;
      box-sizing: border-box;
      border-radius: 5em;
    }

    #who-we-are .content {
      flex: 1;
      margin: 5em;
      color: white;
    }

    #who-we-are h2 {
      margin: 3em 0 2em;
    }

    #who-we-are .highlighted-copy {
      margin-bottom: 1em;
      font-size: 2.5em;
      font-weight: bold;
    }

    #who-we-are .normal-copy {
      width: 28em;
      font-size: larger;
    }

    /* What We Do Section */
    #what-we-do {
      background: #f8f7f5;
    }

    .image-gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      padding: 6em;
    }

    .image-gallery img {
      object-fit: cover;
      border-radius: 1em;
    }

    .image-gallery > * {
      flex: 1;
    }

    .image-gallery div {
      display: flex;
      flex-direction: column;
      gap: 1.25em;
      align-items: center;
    }

    .image-gallery p {
      width: 90%;
      text-align: center;
      font-size: larger;
    }

    .image-gallery p:first-of-type {
      font-size: 2.5em;
      color: #cd011c;
      font-weight: bold;
    }

    /* Bike Plan Section */
    #bike-plan {
      background: #002c7d;
      color: white;
    }

    .bike-plan-layout {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .bike-plan-img {
      flex-shrink: 0;
      max-width: 50%;
      padding: 4em;
      box-sizing: border-box;
      border-radius: 5em;
    }

    #bike-plan .content {
      flex: 1;
      margin: 5em 0 13em 8em;
    }

    #bike-plan h2 {
      margin: 3em 0 2em;
    }

    #bike-plan .highlighted-copy {
      margin-bottom: 1em;
      font-size: 2.5em;
      font-weight: bold;
    }

    #bike-plan .normal-copy {
      width: 28em;
      font-size: larger;
    }
  </style>
</Layout>
