---
import { PortableText } from "@portabletext/react";
import Layout from "../../layouts/Layout.astro";
import { getPolicyPage } from "../../utils/groqQueries";

const policyPage = await getPolicyPage();
---

<Layout title={policyPage?.title || "Policy Page"}>
  <section class="policy-page-intro">
    <h1>{policyPage?.title}</h1>
    <h2>{policyPage?.introBlock.heading}</h2>
    {
      policyPage?.introBlock.content && (
        <div>
          <PortableText value={policyPage?.introBlock.content} />
        </div>
      )
    }
  </section>

  <section class="policy-table-section">
    <table class="policy-table">
      <thead>
        <tr>
          <th>Bill</th>
          <th>Summary</th>
          <th>Info</th>
          <th>Position</th>
          <th>Show Support</th>
        </tr>
      </thead>
      <tbody>
        {
          policyPage?.policyRows?.map(
            (row: {
              bill: any;
              summary: any;
              info: any;
              position: any;
              showSupport: any;
            }) => (
              <tr>
                <td data-label="Bill">
                  <PortableText value={row.bill} />
                </td>
                <td data-label="Summary">
                  <PortableText value={row.summary} />
                </td>
                <td data-label="Info">
                  <PortableText value={row.info} />
                </td>
                <td data-label="Position">
                  <PortableText value={row.position} />
                </td>
                <td data-label="Show Support">
                  <PortableText value={row.showSupport} />
                </td>
              </tr>
            )
          )
        }
      </tbody>
    </table>
  </section>
</Layout>
